src/main/resources/response-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="responseType"/>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="xs:int" name="result-code"/>
      <xs:element type="extraType" name="extra"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extraType">
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>